.recipe
  .title
    %h1= recipe.title
  -if recipe.summary
    .summary
      %p= recipe.summary
  -if recipe.image_uri
    .image
      %img{ src: recipe.image_uri }
  -if recipe.source
    .source
      %p
        Source:
        = recipe.source
  -if recipe.servings
    .servings
      %p
        Servings:
        = recipe.servings
  -if recipe.yields
    .yields
      %p
        Yields:
        = recipe.yields
  -if recipe.prep_time
    .prep_time
      %p
        Prep Time:
        = recipe.prep_time
  -if recipe.cook_time
    .cook_time
      %p
        Cook Time:
        = recipe.cook_time
  -if recipe.total_time
    .total_time
      %p
        Time:
        = recipe.total_time

  -if recipe.directions.count > 0
    .directions
      %h2 Directions
      %ol
        - recipe.directions.each do |direction|
          .direction
            %li
              %p= direction.text
